<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<bean id="obj1" class="com.kaolafm.storm.commons.spring.TestObject">
	    <property name="name" value="Jack"/>
	    <property name="description" value="This is object 1!"/>
	    <property name="lifetime" value="8990" />
	</bean>
	
	<bean id="obj2" class="com.kaolafm.storm.commons.spring.TestObject">
	    <property name="name" value="Annie"/>
	    <property name="description" value="This is object 2!"/>
	    <property name="lifetime" value="19900" />
	</bean>

</beans>